
.lab
{
    height: 33px;
    width: 200px;
    padding-right: 10%;
}

.BusiCont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    margin: 2%;
}

.btn-busi{
    background-color: black;
    color: white;
    height: 37px;
    width: 163px;
    font-size: 15px;
    text-transform: bold ;
    margin-left: 24%;
    border-radius: 5px;
    cursor: pointer;
}
.para2 > p
{
    color: black;
    padding-bottom: 30px;
    font-size: 20px;
}

.btn-busi:hover
{
    background-color: rgb(57, 54, 54);
}


