.list1
{
    list-style-type: none;
}
.list2
{
    list-style-type: none;
}
.list3
{
    list-style-type: none;
}

.list4
{
    list-style-type: none;
}


.list-items a
{
    text-decoration: none;
    color:blueviolet;
    text-decoration: underline;
    padding-bottom: 1.5px;

}
.container_feat {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    background-color: wheat;
}

#abc
{
    padding-top: 10px;
    padding-left: 620px;
    background-color: wheat;
    
}
.big-guy
{
    display: block;
    background-color: wheat;
}