.InsPic
{
    margin-left: 20%;
}
.env
{
    display: flex;
    justify-content: space-between;
    align-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
.WriteUp
{
    display: block;
    align-items: center;
    margin: 40px;
}
.WriteUp h2
{
    font-size: 40px;
    align-content: right;
    padding-left:12%;
}
.para p
{
    font-size: 20px;
    padding-left: 8%;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}


.btn-primary-transform
{
    
    background-color: black;
    color: white;
    height: 47px;
    width: 173px;
    font-size: 15px;
    text-transform: bold ;
    margin-left: 31%;
    border-radius: 5px;
    cursor: pointer;   
}
.btn-primary-transform:hover
{
    background-color: rgb(57, 54, 54);
}


